NODE_ENV=development
VUE_APP_DASHBOARD_URL=https://localhost:8082
VUE_APP_AUTH_URL=https://localhost:3030
VUE_APP_API_ROOT=https://localhost:3001
VUE_APP_PUBLIC_URL=https://localhost:8081
VUE_APP_MIXPANEL_TOKEN=123123
VUE_APP_DASHBOARD_OIDC_CLIENT_ID=puqOQ6ZT9U8UsfyzuTIwT
VUE_APP_DASHBOARD_OIDC_CLIENT_SECRET=VVrUT7n82KNcuh947RAI-dqY79K8r47k_Xk9WvdKXl_viltV5kzX5oNDjen97vr0pBRSlv3oGZvz3_ka1136LQ
